html,body {
  margin:0;
  padding:0;
}
.header{
 background: linear-gradient(to right,rgba(122, 0, 122, 1),rgba(122, 0, 122, 0));
 position: fixed;
 width: 1800px;
 height:40px;
 margin-top:20px;

}
.header .logo{
  width:900px;
}
.blip li{
  display:inline;
  padding: 0;
}
.blip li a{
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.container{
  float:left;
  font-family: fantasy;
  font-weight: 400;
  color: blue;
  margin-top: 60px;
}

.header .logo{
  float: right;
}
.main{
  height:800px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/98/Andromeda_Galaxy_%28with_h-alpha%29.jpg');
}
.color .active a:hover{
  background-color: #3D003D;
}
