body{margin-left: 5%;}
h4 {color:blue;}
h1, hr {margin-left:-2.5%;}
h1 {line-height:5%;}
.phone{font-weight: 500;}

table tr td {
    padding-right: 20px;
}



#titleJP {
      position:absolute;
      top: 14%;
      left: 30%;
      font-style: italic;
}

#titleAviv {
      position:absolute;
      top: 56%;
      left: 30%;
      font-style: italic;
}

#titleShekhar {
      position:absolute;
      top: 95%;
      left: 30%;
      font-style: italic;
}


#search {
        position: fixed;
        top: 2%;
        left: 78%;
        }

#john {
      position: relative;
      width: 90%;
      }

#aviv {
      position: relative;
      width: 90%;
      background-color: #FFFFCC;
      }

#shekhar {
         position: relative;
         width: 90%;
         }
