body{margin-left: 5%;}
h4 {color:blue;}
h1, hr {margin-left:-2.5%;}
h1 {line-height:5%;}
img {max-height:150px;)}

p {positon:absolute;
  margin-left:60%}


  #search {
        position: fixed;
        top: 2%;
        left: 72%;
        }

#john {
      position: relative;
      width: 90%;
      }

#aviv {
      position: relative;
      width: 90%;
      background-color: #FFFFCC;
      }

#shekhar {
         position: relative;
         width: 90%;
         }
